body{
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}
h1, h2, h3, .divide{
  font-weight: bold;
}
h1{
  font-size: 70px;
  color: white;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
}
.menu{
  font-size: 18px;
  color: white;
}
.divide{
  background-image: url(../images/the-flatiron-building.png);
  color: white;
  font-size: 23px;
}
.footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
.top{
  background-image: url(../images/the-flatiron-building.png);
}
